body {
  font-family: Tilt Warp, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: bold;
  color: #FF6F00;
}


video {
  clear: both;
  display: block;
  margin: 10px;
  background: #000000;
  width: 640px;
  height: 480px;
}

button {
  font-family: Tilt Warp, arial, sans-serif;
  padding: 10px;
  float: center;
  margin: 5px 3px 5px 10px;
}

.removed {
  display: none;
}

#status {
  font-size:150%;
}